@model IList<Charity.Mvc.Models.Db.Institution>
<section id="help" class="help">
    <h2>Komu pomagamy?</h2>

    <!-- SLIDE 1 -->
    <div class="help--slides active" data-id="1">
        <p>
            W naszej bazie znajdziesz listę zweryfikowanych Fundacji, z którymi współpracujemy.
            Możesz sprawdzić czym się zajmują.
        </p>

        <ul class="help--slides-items">
            @for (int i = 0; i < Model.Count; i+=2)
            {
                <li>
                    <div class="col">
                        <div class="title">@Model[i].Name</div>
                        <div class="subtitle">@Model[i].Description</div>
                    </div>

                    <div class="col">
                        <div class="title">@Model[i+1].Name"</div>
                        <div class="subtitle">@Model[i+1].Description</div>
                    </div>
                </li>
            }


            @*<li>
                <div class="col">
                    <div class="title">Fundacja “Dla dzieci"</div>
                    <div class="subtitle">Cel i misja: Pomoc osobom znajdującym się w trudnej sytuacji życiowej.</div>
                </div>
                <div class="col">
                    <div class="title">Fundacja “Bez domu”</div>
                    <div class="subtitle">Cel i misja: Pomoc dla osób nie posiadających miejsca zamieszkania</div>
                </div>

            </li>*@

        </ul>


    </div>

</section>