@inject UserManager<User> UserManager
<header>
    <nav class="container container--70">
        <ul class="nav--actions">
            @if (User.Identity.IsAuthenticated)
            {
                <li class="logged-user">
                    Witaj @UserManager.GetUserAsync(User).Result.Name
                    <ul class="dropdown">
                    @if (User.IsInRole("Admin"))
                    {
                        <li><a asp-action="Index" asp-controller="Admin">Profil</a></li> 
                    }else
                    {
                        <li><a asp-action="UserIndex" asp-controller="Account">Profil</a></li>
                    }
                    <li><a asp-action="List" asp-controller="Donation">Moje zbiórki</a></li>
                    <li><a asp-action="Logout" asp-controller="Account">Wyloguj</a></li>
                    </ul>
                </li>
            }
            else
            {
                <li><a asp-action="Login" asp-controller="Account">Zaloguj</a></li>
                <li class="highlighted"><a asp-action="Registration" asp-controller="Account">Załóż konto</a></li>
            }
        </ul>

        <ul>
            <li><a asp-action="Index" asp-controller="Home" class="btn btn--without-border active">Start</a></li>
            <li><a href="#steps" class="btn btn--without-border">O co chodzi?</a></li>
            <li><a href="#about-us" class="btn btn--without-border">O nas</a></li>
            <li><a href="#help" class="btn btn--without-border">Fundacje i organizacje</a></li>
            @if (User.Identity.IsAuthenticated)
            {
                <li><a asp-action="Donate" asp-controller="Donation" class="btn btn--without-border">Przekaż dary</a></li>
            }
            <li><a href="#contact" class="btn btn--without-border">Kontakt</a></li>
        </ul>
    </nav>
</header>