@model MainViewModel
<section id="stats" class="stats">
    <div class="container container--85">
        <div class="stats--item">
            <em>@Model.BagQuantity</em>
            <h3>Oddanych worków</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius est beatae, quod accusamus illum tempora!</p>
        </div>

        <div class="stats--item">
            <em>@Model.InstitutionQuantity</em>
            <h3>Wspartych organizacji</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam magnam, sint nihil cupiditate quas quam.</p>
        </div>

    </div>
</section>