@model DonationViewModel
@{ Layout = "_FormLayout"; }

    <header class="header--form-page">
        @await Html.PartialAsync("Main/_MenuPartialView")

        <div class="slogan container container--90">
            <h2>
                Dziękujemy za przesłanie formularza Na maila prześlemy wszelkie
                informacje o odbiorze.
            </h2>
        </div>
    </header>