@model  MainViewModel
@{
    ViewBag.Title = "Strona gówna";
}


    <body>

        @await Html.PartialAsync("Main/_HeaderPartialView")

        @await Html.PartialAsync("Main/_StatsPartialView", Model)

        @await Html.PartialAsync("Main/_StepsPartialView")

        @await Html.PartialAsync("Main/_AboutUsPartialView")
        @await Html.PartialAsync("Main/_HelpPartialView", Model.Institutions)
        @await Html.PartialAsync("Main/_FooterPartialView", Model.Institutions)

    </body>