@{ 
    Layout = "_AccountLayout"; 
}


<section class="login-page">
    <div class="slogan container container--90">
        <h2>@ViewBag.ConfirmationText</h2>

    </div>
    <div class="form-group form-group--buttons">
        <a asp-action="Registration" asp-controller="Account" class="btn btn--without-border">Załóż konto</a>
        <a asp-action="Login" asp-controller="Account" class="btn">Zaloguj się</a>
    </div>
</section>

