@model EditPassViewModel
@{
    Layout = "_AppLayout";

}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Edycja hasła</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Edycja hasła</h6>           
        </div>

        <div class="container">
            <!-- row -->
            <div class="row tm-content-row tm-mt-small">
                <div class="tm-col tm-col-big">
                    <div class="bg-white tm-block">                        
                        <div class="row">
                            <div asp-validation-summary="All" class="text-danger col-12"></div>
                            <span class="text-info col-12">@ViewBag.Status</span>
                            <div class="col-12">

                                <form asp-action="PasswordEdit" asp-controller="Account" class="tm-signup-form">
                                    <div class="form-group col-6">
                                        <label asp-for="OldPass"></label>
                                        <input asp-for="OldPass" placeholder="******" class="form-control">
                                        <span asp-validation-for="OldPass" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-6">
                                        <label asp-for="Password"></label>
                                        <input asp-for="Password" placeholder="******" class="form-control">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-6">
                                        <label asp-for="ReapeatPassword"></label>
                                        <input asp-for="ReapeatPassword" placeholder="******" class="form-control">
                                        <span asp-validation-for="ReapeatPassword" class="text-danger"></span>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-4">
                                            <button asp-action="Index" asp-controller="Account" class="btn btn-primary">
                                                Wstecz
                                            </button>
                                        </div>
                                        <div class="col-12 col-sm-8 tm-btn-right">
                                            <button type="submit" class="btn btn-danger">
                                                Zapisz zmiany
                                            </button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>
