@model RegistrationViewModel
@{ 
    Layout = "_AccountLayout";
}


    <section class="login-page">
        <h2>Załóż konto</h2>
        <form asp-controller="Account" asp-action="Registration">
            <div class="form-group">
                <input asp-for="Email" type="email" placeholder="Email" />
            </div>
            <div class="form-group">
                <input asp-for="Password" type="password" placeholder="Hasło" />
            </div>
            <div class="form-group">
                <input asp-for="RepeatPassword" type="password" placeholder="Powtórz hasło" />
            </div>
            <div class="form-group form-group--buttons">
                <a  class="btn btn--without-border">Zaloguj się</a>
                <button class="btn" type="submit">Załóż konto</button>
            </div>
        </form>
    </section>

