@{ Layout = "_AccountLayout"; }


    <section class="login-page">
        <div class="slogan container container--90">
            <h2>Dziekuję za weryfikację email, kliknij zeby sie zalogowac</h2>

        </div>
        <div class="form-group form-group--buttons">
            <a asp-action="Registration" asp-controller="Account" class="btn btn--without-border">Załóż konto</a>
            <a class="btn" asp-action="Login" asp-controller="Account">Zaloguj się</a>
        </div>
    </section>

